* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-image: url(../img/Home1.webp);
  width: 100%;
  min-height: 100vh;
  height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-position:center;
  position: absolute;
  object-fit: cover;
}



h1,
h2,
h3 {
  color: #bd5ef3;
  font-family: "Quintessential", cursive;
}

p {
  color: #817e7e;
  line-height: 2rem;
  font-size: 1.6rem;
}

.container-fluid {
  margin-top: 30px;
} 

/*Logo*/
.navbar-brand {
  margin-left: 70px;
  padding: 5px;
}

.navbar {
  position: sticky;
  top: 0;
  font-weight: 600;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding-right: 200px;
}

/*hover*/ 
.navbar div ul li a:hover {
  color: rgb(0, 0, 0);
  font-weight: 700;
  background-size: 100% 2px;
 }

.nav-link {
  margin-right: 40px;
  font-size:x-large ;
  font-weight: 400;
  color:#ffffff;
  display: block;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
} 

.dropdown-menu li a {
  color: #817e7e;
  font-size: 1.8rem;
  text-decoration: none;
  background-image: linear-gradient(violet, violet);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s; 
} 

.span navbar-toggler-icon {
  color:#bd5ef3 
}